.cardman {
    color: #fff;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    font-family: Montserrat, Arial;
    font-size: 1rem;
    font-weight: 700;
    line-height: 24px;
    display: flex;
  }
  
  .container-iam {
    height: 100%;
    /* background-color: #67e7d9; */
    border-radius: 15px;
    flex-direction: row;
    flex-basis: 100%;
    justify-content: space-between;
    align-self: flex-start;
    align-items: center;
    padding-left: 21px;
    padding-right: 20px;
    display: flex;
  }

  .selected{
    background-color: #67e7d9 !important;
    border: none;
  }
  
  .not_selected{
    background-color: white !important;
    border: 1px solid rgba(128, 128, 128, 0.334);
    color: black !important;
    font-weight: normal;
  }
  
  .man {
    align-self: center;
    margin-bottom: 1px;
  }
  
  .check-small {
    width: 20px;
    height: 20px;
    object-fit: cover;
    align-self: center;
  }