.main {
    color: #000;
    width: 100%;
    height: 100%;
    background-color: #fff;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 44px;
    font-family: Montserrat, Arial;
    font-size: 1rem;
    font-weight: 400;
    line-height: 21px;
    display: flex;
}

.flex-container-home {
    text-align: center;
    color: #000000b3;
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    align-items: center;
    margin-left: 2px;
    font-size: .857rem;
    font-weight: 700;
    line-height: 15px;
    display: flex;
}

.btn-back {
    width: 52px;
    height: 52px;
    object-fit: cover;
    align-self: flex-start;
    margin-right: 1px;
}

.flex-container-1-home {
    height: 75%;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    align-items: center;
    margin-top: 1px;
    margin-left: 1px;
    display: flex;
}

.harmonize {
    color: #000;
    align-self: flex-start;
    margin-right: 1px;
    font-size: 1.714rem;
    line-height: 29px;
}

.new-york-ny {
    align-self: center;
    font-weight: 400;
}

.btn-filter {
    width: 52px;
    height: 52px;
    object-fit: cover;
    align-self: flex-start;
    margin-left: 1px;
}

.flex-container-2-home {
    color: #fff;
    margin-left: 2px;
    position: relative;
    width: 295px !important;
    height: 450px !important;
}



.photo-main {
    z-index: 0;
    /* display: inline-block !important;
    vertical-align: middle !important; */
    height: 100% !important;
    width: 100% !important;
    object-fit: cover !important;
    object-position: center;
    border-radius: 15px;
}

.cat-absolute-container {
    z-index: 1;
    /* width: 100%; */
    flex-direction: column;
    flex-basis: 97%;
    justify-content: space-between;
    align-self: flex-start;
    align-items: flex-end;
    padding-top: 20px;
    display: flex;
}

.location-instance {
    position: absolute;
    top: 40px;
    left: 30px;
    /* flex-basis: 8%; */
    /* margin-left: 16px; */
}

.pagination-v {
    width: 20px;
    height: 76px;
    object-fit: cover;
    align-self: flex-end;
    margin-bottom: 29px;
}

.bottom-container {
    width: 100%;
    background-color: #000;
    border-radius: 0 0 15px 15px;
    flex-direction: row;
    justify-content: flex-start;
    align-self: flex-start;
    align-items: stretch;
    margin-top: 14px;
    display: flex;
    position: absolute;
    top: 400px;
}

.cat-absolute-container-1 {
    z-index: 1;
    background-color: black;
    width: 295px;
    position: absolute;
    display: flex;
    bottom: 0px;
    border-radius: 0 0 15px 15px;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.jessica-parker-23 {
    align-self: flex-start;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* width: 200px !important; */
    font-size: 20px;
}

.top-artist-taylor-swift {
    align-self: flex-start;
    margin-bottom: 2px;
    font-size: 1rem;
    line-height: 21px;
}

.photo-blurred-24-px {
    /* width: 295px;
    height: 83px;
    object-fit: cover;
    align-self: flex-start; */
}

.spinner_col {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-container-3-home {
    text-align: center;
    color: #67e7d9;
    width: 75%;
    flex-direction: row;
    flex-basis: 2%;
    justify-content: space-between;
    align-self: center;
    align-items: stretch;
    margin-bottom: 4px;
    margin-left: 10px;
    font-weight: 700;
    display: flex;
}

.privacy-and-agreemen-home {
    align-self: flex-start;
    margin-right: 1px;
    background-color: transparent !important;
    border: none;
    color: #67e7d9;
}

.privacy-and-agreemen-1-home {
    align-self: flex-start;
    color: #67e7d9;
    margin-left: 1px;
    background-color: transparent !important;
    border: none;
}

.privacy-and-agreemen-1-home:focus,
.privacy-and-agreemen-1-home:active,
.privacy-and-agreemen-1-home::selection {
    color: black;
}

.your-perfect-potential-matches-h {
    text-align: center;
    align-self: center;
    margin-top: 1px;
    margin-bottom: 11px;
}

.nav-bar {
    width: 375px;
    height: 48px;
    object-fit: cover;
    align-self: flex-start;
    margin-top: 2px;
}

.no_candidates {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}