.matches-matches {
    color: #fff;
    width: 100%;
    height: 100%;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    padding-top: 44px;
    font-family: Montserrat, Arial;
    font-size: 1.143rem;
    font-weight: 700;
    line-height: 24px;
    display: flex;
    align-content: center;
}

.flex-container-matches {
    color: #000;
    width: 90%;
    flex-direction: row;
    justify-content: space-around;
    align-self: flex-end;
    margin-left: 5px;
    padding-right: 40px;
    font-size: 2.429rem;
    line-height: 51px;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.matches-1 {
    align-self: center;
    margin-bottom: 1px;
    margin-right: 93px;
}

.btn-filter {
    width: 52px;
    height: 52px;
    object-fit: cover;
    align-self: flex-start;
}

.this-is-a-list-of-people-who-hav {
    color: #000000b3;
    align-self: center;
    display: flex;
    margin-bottom: 3px;
    font-weight: 400;
    width: 80%;
    margin-bottom: 16px;
}

.flex-container-1-matches {
    /* color: #000000b3; */
    text-align: center;
    width: 90%;
    flex-direction: row;
    justify-content: flex-start;
    align-self: flex-end;
    align-items: center;
    /* margin-top: 1px; */
    margin-left: 2px;
    padding-right: 40px;
    font-size: .786rem;
    font-weight: 400;
    line-height: 17px;
    display: flex;
}

.line-1 {
    width: 121px;
    height: 1px;
    object-fit: cover;
    align-self: center;
    margin-top: 1px;
    margin-right: 10px;
}

.today {
    align-self: flex-start;
}

.line {
    width: 121px;
    height: 1px;
    object-fit: cover;
    align-self: center;
    margin-top: 1px;
    margin-left: 10px;
}

.matched_user_container {
    /* width: 90%;
    flex-direction: row;
    flex-basis: 25%;
    justify-content: space-around;
    align-self: flex-end;
    align-items: center;
    margin-left: 2px;
    padding-right: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; */
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

}

/* Target the last card and make it left-aligned */
.card-matched_user_container .photo-matches:last-child {
    margin-right: auto;
}

.photo-matches {
    height: 100%;
    background-color: #c4c4c4;
    /* background-image: url("/src/assets/photo1-matches.png") !important; */
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    flex-direction: column;
    justify-content: flex-end;
    align-self: flex-start;
    align-items: center;
    display: flex;
}

.leilani-19 {
    align-self: center;
    margin-bottom: 6px;
}

.bottom-container-matches {
    width: 140px;
    height: 40px;
    object-fit: cover;
    border-radius: 0 0 15px 15px;
    align-self: flex-start;
}

.photo-7-matches {
    height: 100%;
    background-color: #c4c4c4;
    background-image: url("/src/assets/photo1-matches.png");
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    flex-direction: column;
    justify-content: flex-end;
    align-self: flex-start;
    align-items: center;
    padding-top: 16px;
    display: flex;
}

.annabelle-20 {
    align-self: center;
    margin-top: 16px;
    margin-bottom: -16px;
}

.bottom-container-2-matches {
    z-index: 1;
    width: 140px;
    height: 40px;
    object-fit: cover;
    border-radius: 0 0 15px 15px;
    align-self: flex-start;
}

.flex-container-3-matches {
    width: 90%;
    flex-direction: row;
    flex-basis: 25%;
    justify-content: flex-start;
    align-self: flex-end;
    align-items: stretch;
    margin-left: 2px;
    padding-right: 40px;
    display: flex;
}

.photo-3-matches {
    height: 100%;
    background-color: #c4c4c4;
    background-image: url("/src/assets/photo1-matches.png");
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    flex-direction: column;
    justify-content: flex-end;
    align-self: flex-start;
    align-items: center;
    margin-right: 15px;
    display: flex;
}

.reagan-24 {
    align-self: center;
    margin-bottom: 5px;
}

.bottom-container-1-matches {
    width: 140px;
    height: 40px;
    object-fit: cover;
    border-radius: 0 0 15px 15px;
    align-self: flex-start;
}

.photo-9-matches {
    height: 100%;
    background-color: #c4c4c4;
    background-image: url("/src/assets/photo1-matches.png");
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    flex-direction: column;
    justify-content: flex-end;
    align-self: flex-start;
    align-items: center;
    display: flex;
}

.hadley-25 {
    align-self: center;
    margin-bottom: 5px;
}

.bottom-container-3-matches {
    width: 140px;
    height: 40px;
    object-fit: cover;
    border-radius: 0 0 15px 15px;
    align-self: flex-start;
}

.flex-container-4-matches {
    width: 100%;
    flex-direction: column;
    flex-basis: 22%;
    justify-content: space-between;
    align-self: flex-start;
    align-items: center;
    display: flex;
}

.yesterday {
    text-align: center;
    color: #0006;
    align-self: center;
    margin-bottom: -23px;
    font-size: .857rem;
    font-weight: 400;
    line-height: 18px;
}

.line-2 {
    width: 110px;
    height: 1px;
    object-fit: cover;
    align-self: flex-end;
    margin-top: 4px;
    margin-bottom: -1px;
}

.line-3 {
    width: 110px;
    height: 1px;
    object-fit: cover;
    align-self: flex-start;
    margin-top: 4px;
    margin-bottom: 21px;
    margin-left: 40px;
}

.photo-5-matches {
    z-index: 1;
    width: 40%;
    background-color: #c4c4c4;
    background-image: url("/src/assets/photo1-matches.png");
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    flex-direction: column;
    flex-basis: 86%;
    justify-content: flex-end;
    align-self: flex-start;
    align-items: stretch;
    margin-bottom: -153px;
    margin-left: 40px;
    padding-top: 17px;
    display: flex;
}

.home-indicator {
    z-index: 1;
    width: 375px;
    height: 34px;
    object-fit: cover;
    align-self: flex-start;
    margin-bottom: -17px;
    margin-left: -40px;
}

.kyle-24 {
    align-self: flex-start;
    margin-left: 15px;
}

.photo-6-matches {
    z-index: 1;
    width: 40%;
    background-color: #c4c4c4;
    background-image: url("/src/assets/photo1-matches.png");
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    flex-direction: row;
    flex-basis: 86%;
    justify-content: center;
    align-self: flex-end;
    align-items: flex-end;
    margin-bottom: -82px;
    padding-top: 5px;
    padding-left: 2px;
    display: flex;
}

.kyle-24-1 {
    align-self: flex-end;
    margin-left: 1px;
}

.like-2 {
    width: 46px;
    height: 46px;
    object-fit: cover;
    align-self: flex-start;
    margin-left: 6px;
}

.nav-bar-matches {
    z-index: 1;
    width: 375px;
    height: 48px;
    object-fit: cover;
    align-self: flex-start;
    margin-top: -4px;
}