.onboarding {
  text-align: center;
  color: #67e7d9;
  width: 100%;
  height: 100%;
  background-color: #fff;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 41px;
  font-family: Montserrat, Arial;
  font-size: .875rem;
  font-weight: 700;
  line-height: 17px;
  display: flex;
}

.photo {
  width: 375px;
  height: 360px;
  object-fit: cover;
  align-self: flex-start;
  margin-top: 5px;
  margin-bottom: 21px;
}

.algorithm {
  align-self: center;
  margin-top: 4px;
  font-size: 1.5rem;
  line-height: 36px;
}

.finding-love-through-music-one-s {
  color: #323755;
  align-self: center;
  margin-bottom: 18px;
  margin-left: 1px;
  font-weight: 400;
  line-height: 21px;
}

.onboarding-dots {
  width: 40px;
  height: 9px;
  object-fit: cover;
  align-self: center;
  margin-top: 2px;
}

.btn-create-account-instance {
  width: 80%;
  flex-basis: 7%;
  margin-bottom: 3px;
  margin-left: 2px;
  background-color: #67E7D9 !important;
  border: none;
  border-radius: 15px;
}

.privacy-and-agreemen- {
  align-self: center;
  margin-bottom: 10px;
}